 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,verdana, "宋体"
}
HTML {
	FONT-SIZE: 12px; COLOR: #666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
BODY {
	FONT-SIZE: 12px; COLOR: #666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
H1 {
	FONT-WEIGHT: 400; FONT-SIZE: 100%; FONT-STYLE: normal; LIST-STYLE-TYPE: none
}
H2 {
	FONT-WEIGHT: 400; FONT-SIZE: 100%; FONT-STYLE: normal; LIST-STYLE-TYPE: none
}
H3 {
	FONT-WEIGHT: 400; FONT-SIZE: 100%; FONT-STYLE: normal; LIST-STYLE-TYPE: none
}
H4 {
	FONT-WEIGHT: 400; FONT-SIZE: 100%; FONT-STYLE: normal; LIST-STYLE-TYPE: none
}
H5 {
	FONT-WEIGHT: 400; FONT-SIZE: 100%; FONT-STYLE: normal; LIST-STYLE-TYPE: none
}
H6 {
	FONT-WEIGHT: 400; FONT-SIZE: 100%; FONT-STYLE: normal; LIST-STYLE-TYPE: none
}
STRONG {
	FONT-WEIGHT: 400; FONT-SIZE: 100%; FONT-STYLE: normal; LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
DL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
A {
	COLOR: #666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff7200; TEXT-DECORATION: underline
}
#l_layout {
	MIN-HEIGHT: 1000px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 990px; HEIGHT: 700px
}
.price-new {
	MARGIN-RIGHT: 3px; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.price-new_n {
	
}
.b_line {
	BORDER-BOTTOM: #d5d5d5 1px dotted
}
.zise_new {
	COLOR: #c83279
}
.baise_new {
	COLOR: #fff
}
.price_zs {
	FONT-WEIGHT: 700; FONT-SIZE: 13px; COLOR: #d70000; LINE-HEIGHT: 10px; FONT-FAMILY: Arial
}
.l_mt5 {
	MARGIN-TOP: 3px
}
.underline {
	TEXT-DECORATION: underline
}
.addmore {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; RIGHT: 25px; POSITION: absolute; TOP: 12px
}
.m_top {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.m_footer {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.call .tell {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.cart_box {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.top_s_inpu {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.top_s_tj {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.all_fenlei-h2 .leibie .fl_arrow {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.l_news .list LI {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.brand-scllo .arrow {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.brand-scllo .arrow-r {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.l_week_l_arrow {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.l_week_r_arrow {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.zhisu .star {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.yxlxx {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.l_week_pic_box_l .guan {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.l_r_s_arrow {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.l_help_dl DD {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
#downmsgBar A {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.footime SPAN.shu {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.top_s_l .top_s_input {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat
}
.all_fenlei {
	BACKGROUND: url(http://img.tiantian.com/index-img/right-bg.gif) no-repeat
}
.l_news {
	BACKGROUND: url(http://img.tiantian.com/index-img/right-bg.gif) no-repeat
}
.l_xs_n {
	BACKGROUND: url(http://img.tiantian.com/index-img/right-bg.gif) no-repeat
}
.qg_listative {
	BACKGROUND: url(http://img.tiantian.com/index-img/right-bg.gif) no-repeat
}
.qg_listhover {
	BACKGROUND: url(http://img.tiantian.com/index-img/right-bg.gif) no-repeat
}
.l_cxppt {
	BACKGROUND: url(http://img.tiantian.com/index-img/right-bg.gif) no-repeat
}
.l_spgxt {
	BACKGROUND: url(http://img.tiantian.com/index-img/right-bg.gif) no-repeat
}
#top_2011 {
	HEIGHT: 100px; TEXT-ALIGN: right
}
.submenu {
	FONT-SIZE: 13px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.submenu SPAN {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
.hello {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 450px; PADDING-TOP: 0px
}
.my_home_new {
	Z-INDEX: 6; FLOAT: left; WIDTH: 70px; POSITION: relative
}
.my_home_new #721_1 {
	PADDING-BOTTOM: 10px
}
.my_home_list {
	Z-INDEX: 999; BACKGROUND: url(http://img.tiantian.com/blank.gif); LEFT: 10px; WIDTH: 69px; POSITION: absolute; TOP: 20px
}
.m_top {
	BACKGROUND-POSITION: 0px -275px; OVERFLOW: hidden; HEIGHT: 12px
}
.m_middle {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: url(http://img.tiantian.com/index-img/idex-png.png) no-repeat 0px -271px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.m_footer {
	BACKGROUND-POSITION: 0px -294px; OVERFLOW: hidden; HEIGHT: 6px
}
.logobox {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.logobox .logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.top-video {
	FLOAT: left; MARGIN: 5px 0px 0px 126px; WIDTH: 235px
}
.logo_r {
	BACKGROUND: url(http://img.lamei.com/webin-img/hot_bg.gif) no-repeat 112px 41px; FLOAT: right; OVERFLOW: hidden; WIDTH: 430px; POSITION: relative; HEIGHT: 70px
}
#top_2011 .sele {
	DISPLAY: block; Z-INDEX: 999999; BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat -280px -285px; LEFT: 32px; WIDTH: 25px; POSITION: absolute; TOP: 40px; HEIGHT: 15px
}
.call {
	MARGIN-TOP: 2px; FLOAT: right; WIDTH: 250px; TEXT-ALIGN: right
}
#top_2011 .hot_b {
	DISPLAY: none; Z-INDEX: 999999; BACKGROUND: url(http://img.lamei.com/webin-img/hot_bg.gif) no-repeat 0px 0px; LEFT: 112px; WIDTH: 25px; POSITION: absolute; TOP: 40px; HEIGHT: 15px
}
.call .tell {
	BACKGROUND-POSITION: -228px -320px; OVERFLOW: hidden; TEXT-INDENT: 30px; HEIGHT: 32px
}
.call .time {
	MARGIN-BOTTOM: 3px; OVERFLOW: hidden; HEIGHT: 14px
}
.call .p {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.top_call {
	CLEAR: both; DISPLAY: block; FONT-WEIGHT: 700; FONT-SIZE: 22px; COLOR: #866b8a; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.top-banner {
	FLOAT: left; WIDTH: 255px; HEIGHT: 70px
}
.top_s_r {
	FLOAT: right; WIDTH: 399px; COLOR: #ccc; LINE-HEIGHT: 20px; POSITION: relative; TEXT-ALIGN: right
}
.top_s_r .new {
	FONT-WEIGHT: 700; LEFT: 45px; COLOR: #d23c82; FONT-FAMILY: Arial, Helvetica, sans-serif; POSITION: absolute; TOP: -12px
}
.top_s_r A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: 700; PADDING-BOTTOM: 0px; COLOR: #515253; PADDING-TOP: 0px; FONT-FAMILY: "微软雅黑"
}
.top_s_r A:hover {
	COLOR: #cc1744
}
.top_s_r .zise {
	FONT-WEIGHT: 700; COLOR: #cc1744
}
.top_s_r IMG {
	VERTICAL-ALIGN: middle
}
#seacher_2011 {
	BORDER-RIGHT: #d2d2d2 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d2d2d2 1px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px auto 8px; BORDER-LEFT: #d2d2d2 1px solid; WIDTH: 988px; PADDING-TOP: 5px; BORDER-BOTTOM: #d2d2d2 1px solid; HEIGHT: 32px; TEXT-ALIGN: left
}
.top_cart_div .cart {
	PADDING-RIGHT: 15px; Z-INDEX: 1; POSITION: relative
}
.gwd {
	DISPLAY: block; FLOAT: left; MARGIN: 0px; WIDTH: 177px; TEXT-INDENT: 42px
}
.cart_box {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -35px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 230px; LINE-HEIGHT: 22px; PADDING-TOP: 5px; HEIGHT: 22px
}
.jiage {
	FONT-WEIGHT: 700; COLOR: #c8337a
}
.delate {
	FONT-WEIGHT: 400
}
#mainnav_2011 {
	CLEAR: both; BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) repeat-x 0px -160px; OVERFLOW: hidden; LINE-HEIGHT: 35px; HEIGHT: 35px; TEXT-ALIGN: left
}
#mainnav_2011 LI {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) repeat-x 0px -160px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 71px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#mainnav_2011 LI IMG {
	MARGIN-TOP: 5px
}
#mainnav_2011 LI A {
	DISPLAY: block; FONT-SIZE: 14px; WIDTH: 71px; COLOR: #fff; HEIGHT: 36px; TEXT-DECORATION: none
}
#mainnav_2011 LI .main_navactive {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) repeat-x 0px -115px; COLOR: #be005f
}
#mainnav_2011 LI A:hover {
	BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) repeat-x 0px -116px; COLOR: #be005f
}
.t_input_ss .top_s_n {
	FONT-WEIGHT: 700; FLOAT: left; COLOR: #000; LINE-HEIGHT: 30px
}
.top_s_l {
	PADDING-LEFT: 20px; Z-INDEX: 88888; FLOAT: left; WIDTH: 700px; POSITION: relative
}
.top_cart_div {
	FLOAT: right; WIDTH: 240px
}
.top_s_l .top_s_input {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 13px; BACKGROUND: url(http://img.tiantian.com/index-img/top_new_bg.gif) no-repeat 0px 0px; FLOAT: left; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; WIDTH: 280px; COLOR: #666; BORDER-TOP-STYLE: none; LINE-HEIGHT: 25px; PADDING-TOP: 3px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 27px; BORDER-BOTTOM-STYLE: none
}
.inputbox {
	FONT-SIZE: 12px; MARGIN: 5px 0px 0px 10px; WIDTH: 300px; COLOR: #888; BORDER-TOP-STYLE: none; LINE-HEIGHT: 22px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 22px; BORDER-BOTTOM-STYLE: none
}
.top_s_tj {
	BACKGROUND-POSITION: -271px -37px; FLOAT: left; VERTICAL-ALIGN: middle; WIDTH: 49px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 31px; BORDER-BOTTOM-STYLE: none
}
.hot_word {
	DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; MARGIN: 5px 0px 0px; OVERFLOW: hidden; WIDTH: 260px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.s_list {
	BORDER-RIGHT: #e1e1e1 1px solid; BORDER-TOP: #e1e1e1 1px solid; Z-INDEX: 9999999; MIN-HEIGHT: 270px; LEFT: 0px; BORDER-LEFT: #e1e1e1 1px solid; WIDTH: 170px; BORDER-BOTTOM: #e1e1e1 1px solid; POSITION: absolute; TOP: 20px; BACKGROUND-COLOR: #fff; hight: 270px
}
.resutle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; COLOR: #d23c83; PADDING-TOP: 3px; BACKGROUND-COLOR: #fff6f9; TEXT-ALIGN: center
}
.products_list LI {
	CLEAR: both; DISPLAY: block; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.s_list_hoverhover {
	CURSOR: pointer; BACKGROUND-COLOR: #fff7fa
}
.products_list LI .name {
	DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; WIDTH: 110px
}
.products_list LI .tiao {
	DISPLAY: block; FLOAT: left; WIDTH: 65px
}
.top_s_l .products_list LI .i {
	COLOR: #d23d81
}
.l_t_link {
	DISPLAY: block; FLOAT: left; WIDTH: 180px; HEIGHT: 25px
}
.l_left {
	FLOAT: left; WIDTH: 200px; TEXT-ALIGN: left
}
.l_right {
	PADDING-LEFT: 5px; FLOAT: right; WIDTH: 785px; TEXT-ALIGN: left
}
.qbfl {
	PADDING-BOTTOM: 10px; WIDTH: 194px
}
.all_fenlei {
	BACKGROUND-POSITION: 0px -40px; WIDTH: 194px; HEIGHT: 33px
}
.all_fenlei-h2 {
	BORDER-RIGHT: #ec1179 1px solid; BORDER-TOP: #ec1179 1px; Z-INDEX: 2; MIN-HEIGHT: 320px; BORDER-LEFT: #ec1179 1px solid; WIDTH: 192px; BORDER-BOTTOM: #ec1179 1px solid; POSITION: relative; HEIGHT: 320px; BACKGROUND-COLOR: #fff6f9
}
.all_fenlei-h2 .leibie {
	CURSOR: pointer; LINE-HEIGHT: 28px; BORDER-BOTTOM: #fae6e5 1px solid; HEIGHT: 28px
}
.all_fenlei-h2 .leibie .listnum {
	DISPLAY: block; FONT-SIZE: 13px; FLOAT: left; WIDTH: 95px; COLOR: #333; TEXT-INDENT: 20px
}
.all_fenlei-h2 .leibie .small-num {
	DISPLAY: inline; FLOAT: left; OVERFLOW: hidden; WIDTH: 80px; COLOR: #d4d2d3
}
.all_fenlei-h2 .leibie .fl_arrow {
	BACKGROUND-POSITION: -166px -260px; DISPLAY: block; FLOAT: left; MARGIN: 9px 0px 0px; WIDTH: 7px; HEIGHT: 12px
}
.all_fenlei-h2 .leibie-a {
	BORDER-RIGHT: #fff6f9 1px; BORDER-TOP: #fff6f9 1px solid; BORDER-LEFT: #fff6f9 1px solid; LINE-HEIGHT: 27px; BORDER-BOTTOM: #fae6e5 1px solid; HEIGHT: 27px; BACKGROUND-COLOR: #fff
}
.all_fenlei-h2 .leibie-a .leibieactive {
	BORDER-RIGHT: #d23c83 2px; BORDER-TOP: #d23c83 2px solid; Z-INDEX: 999999; MARGIN-LEFT: 4px; OVERFLOW: hidden; BORDER-LEFT: #d23c83 2px solid; WIDTH: 181px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #d23c83 2px solid; POSITION: absolute; HEIGHT: 25px; BACKGROUND-COLOR: #fff
}
.all_fenlei-h2 .leibie-a .leibieactive .listnum {
	DISPLAY: block; FONT-WEIGHT: 700; FONT-SIZE: 13px; FLOAT: left; WIDTH: 87px; COLOR: #d43d84; TEXT-INDENT: 10px
}
.all_fenlei-h2 .leibie-a .leibieactive .listnum A {
	COLOR: #c71549
}
.all_fenlei-h2 .leibie-a .leibieactive .small-num {
	DISPLAY: inline; FLOAT: left; VISIBILITY: hidden; OVERFLOW: hidden; WIDTH: 82px; COLOR: #c71549
}
.all_fenlei-h2 .leibie-a .leibieactive .fl_arrow {
	FLOAT: left; VISIBILITY: hidden; MARGIN: 8px 0px 0px; WIDTH: 5px; HEIGHT: 9px
}
.all_fenlei-h2 .leibie-a .hiddenlsit {
	BORDER-RIGHT: #d23c83 3px solid; BORDER-TOP: #d23c83 3px solid; Z-INDEX: 8888; MIN-HEIGHT: 336px; BACKGROUND: url(http://img.tiantian.com/index-img/leibie-bg.gif) #fff repeat-y right top; LEFT: 185px; BORDER-LEFT: #d23c83 3px solid; WIDTH: 597px; BORDER-BOTTOM: #d23c83 3px solid; POSITION: absolute; TOP: -33px; HEIGHT: 348px
}
.all_fenlei-h2 .leibie-a .hiddenlsit A {
	TEXT-DECORATION: none
}
.all_fenlei-h2 .leibie-a .hiddenlsit .list-left {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 375px; PADDING-TOP: 3px
}
.fl-h-ldlbg {
	BACKGROUND: url(http://img.tiantian.com/index-img/l-rbng.jpg) repeat-x left top
}
.all_fenlei-h2 .leibie-a .hiddenlsit .list-left DL {
	CLEAR: both; PADDING-RIGHT: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; OVERFLOW: auto; PADDING-TOP: 4px; HEIGHT: 1%
}
.all_fenlei-h2 .leibie-a .hiddenlsit .list-left DT {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; FLOAT: left; WIDTH: 75px; COLOR: #db3661; TEXT-INDENT: 10px; LINE-HEIGHT: 22px
}
.all_fenlei-h2 .leibie-a .hiddenlsit .list-left DD {
	FLOAT: left; WIDTH: 290px; LINE-HEIGHT: 22px
}
.all_fenlei-h2 .leibie-a .hiddenlsit .list-left DD .sub-list {
	COLOR: #c2c2c2; WORD-BREAK: keep-all; WHITE-SPACE: nowrap
}
.all_fenlei-h2 .leibie-a .hiddenlsit .list-right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; MIN-HEIGHT: 335px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 200px; PADDING-TOP: 6px; HEIGHT: 335px
}
.all_fenlei-h2 .leibie-a .hiddenlsit .list-right DT {
	CLEAR: both; FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #db3661
}
.all_fenlei-h2 .leibie-a .hiddenlsit .list-right DD {
	CLEAR: both; DISPLAY: inline; LINE-HEIGHT: 180%
}
.all_fenlei-h2 .leibie-a .hiddenlsit .list-right DD EM {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden; WIDTH: 65px; WHITE-SPACE: nowrap
}
.t_banner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px
}
.l_banner {
	OVERFLOW: hidden; HEIGHT: 355px
}
.banner01 {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 584px; HEIGHT: 355px
}
.banner01_r {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 189px; MARGIN-RIGHT: 0px
}
.l_news {
	BACKGROUND-POSITION: 0px -152px; MARGIN-RIGHT: 1px; HEIGHT: 118px
}
.new_padding {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; PADDING-TOP: 42px
}
.area_padding {
	OVERFLOW: hidden; LINE-HEIGHT: 20px; POSITION: relative; HEIGHT: 60px
}
.l_new_r_banner .pic1 {
	HEIGHT: 146px
}
.l_new_r_banner .pic2 {
	HEIGHT: 80px
}
.l_new_r_banner .pic1 {
	OVERFLOW: hidden; PADDING-TOP: 5px
}
.l_new_r_banner .pic2 {
	OVERFLOW: hidden; PADDING-TOP: 5px
}
.l_news .list {
	OVERFLOW: hidden; LINE-HEIGHT: 20px; POSITION: absolute; TOP: 0px; HEIGHT: 600px
}
.l_news .list LI {
	BACKGROUND-POSITION: -310px -201px; MARGIN-LEFT: 5px; TEXT-INDENT: 10px
}
.l_mddle_banner03 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 9px; TEXT-ALIGN: left
}
.l_mddle_banner03 A {
	OVERFLOW: hidden; WIDTH: 330px; TEXT-ALIGN: left
}
.l_xsqg {
	HEIGHT: 265px
}
.l_xs_n {
	BACKGROUND-POSITION: 0px 0px; MARGIN: 10px 0px 0px; BORDER-BOTTOM: #c4508f 1px solid; POSITION: relative; HEIGHT: 35px
}
.qg_list {
	RIGHT: -3px; FLOAT: right; POSITION: absolute; TOP: 3px
}
.qg_list LI {
	FONT-WEIGHT: 700; FLOAT: left; MARGIN: 0px 3px; COLOR: #fff; LINE-HEIGHT: 35px
}
.qg_listative {
	BACKGROUND-POSITION: 0px -275px; DISPLAY: block; FONT-WEIGHT: 700; OVERFLOW: hidden; WIDTH: 90px; COLOR: #000; HEIGHT: 32px; TEXT-ALIGN: center
}
.qg_listhover {
	BACKGROUND-POSITION: -98px -275px; DISPLAY: block; FONT-WEIGHT: 700; OVERFLOW: hidden; WIDTH: 90px; COLOR: #fff; HEIGHT: 34px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.l_xsqg_pic DT {
	MARGIN: 0px auto; WIDTH: 120px; HEIGHT: 120px
}
.l_xsqg_pic DT IMG {
	MARGIN: 0px auto; WIDTH: 120px; HEIGHT: 120px
}
.l_xsqg_picbpox {
	FLOAT: left; WIDTH: 194px; HEIGHT: 215px; TEXT-ALIGN: center
}
.l_xsqg_pic {
	MARGIN: 0px auto; WIDTH: 160px; HEIGHT: 150px; TEXT-ALIGN: center
}
.l_xsqg_pic STRONG {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 15px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.l_xsqg_text {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 15px; PADDING-TOP: 5px; HEIGHT: 30px; TEXT-ALIGN: center
}
.l_xsqg_pic .endtime {
	BORDER-RIGHT: #e5aec3 1px solid; BORDER-TOP: #e5aec3 1px solid; MARGIN: 8px auto 2px; BORDER-LEFT: #e5aec3 1px solid; WIDTH: 130px; COLOR: #333; LINE-HEIGHT: 25px; BORDER-BOTTOM: #e5aec3 1px solid; BACKGROUND-COLOR: #fff6f9
}
.l_xsqg_tab .l_xsqg_pic .endtime .l_red3 {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; COLOR: #ce0100; FONT-FAMILY: Arial
}
.l_xsqg_pic .endtext {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; MARGIN: 8px auto 2px; BORDER-LEFT: #bbb 1px solid; WIDTH: 130px; COLOR: #333; LINE-HEIGHT: 25px; BORDER-BOTTOM: #bbb 1px solid; BACKGROUND-COLOR: #f8f8f8
}
.cx_tab_bg01 {
	BACKGROUND: url(http://img.tiantian.com/index-img/l_cx_bg.gif) no-repeat 0px 0px; WIDTH: 772px; HEIGHT: 33px
}
.cx_tab_bg02 {
	BACKGROUND: url(http://img.tiantian.com/index-img/l_cx_bg.gif) no-repeat 0px -36px; WIDTH: 772px; HEIGHT: 33px
}
.cx_tab_bg03 {
	BACKGROUND: url(http://img.tiantian.com/index-img/l_cx_bg.gif) no-repeat 0px -73px; WIDTH: 772px; HEIGHT: 33px
}
.cx_tab_bg04 {
	BACKGROUND: url(http://img.tiantian.com/index-img/l_cx_bg.gif) no-repeat 0px -110px; WIDTH: 772px; HEIGHT: 33px
}
.cx_t_li {
	BACKGROUND-COLOR: #c95f97
}
.cx_t_li LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 180px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.cx_left {
	FLOAT: left; WIDTH: 555px; HEIGHT: 385px
}
.xc_banner {
	BORDER-RIGHT: #e5eff9 1px; PADDING-RIGHT: 0px; BORDER-TOP: #e5eff9 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 10px 0px 5px; BORDER-LEFT: #e5eff9 1px; PADDING-TOP: 5px; BORDER-BOTTOM: #e5eff9 1px solid; HEIGHT: 230px
}
.zuobian {
	BORDER-RIGHT: #e5eff9 1px solid; FLOAT: left; WIDTH: 400px; HEIGHT: 230px
}
.l_tj_lan {
	CLEAR: both; TEXT-ALIGN: center
}
.l_tj_lan .box {
	BACKGROUND: url(http://img.tiantian.com/index-img/idex-png.png) no-repeat 0px 0px; FLOAT: left; MARGIN: 5px 5px 0px 0px; WIDTH: 105px; HEIGHT: 128px
}
.l_tj_lan .box DT {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: 700; PADDING-BOTTOM: 5px; COLOR: #d70000; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.l_tj_lan .box IMG {
	TEXT-ALIGN: center
}
.youbian {
	FLOAT: left; WIDTH: 150px; TEXT-ALIGN: left
}
.youbian LI {
	WIDTH: 149px; TEXT-INDENT: 10px; LINE-HEIGHT: 37px; BORDER-BOTTOM: #e5eff9 1px solid; HEIGHT: 37px
}
.youbian A {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #c8337a
}
.youbian .current {
	COLOR: #5833a5
}
.cx_right {
	FLOAT: right; WIDTH: 220px; HEIGHT: 385px
}
.tj_jxpix {
	CLEAR: both; PADDING-TOP: 5px; HEIGHT: 110px
}
.tj_jxpix IMG {
	FLOAT: left; MARGIN: 0px 0px 0px 5px
}
.tj_jxtext {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 110px; LINE-HEIGHT: 18px; HEIGHT: 90px
}
.l_middle_banner {
	CLEAR: both; PADDING-TOP: 5px; HEIGHT: 156px
}
.bj_jx {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.cx_tab_content01 {
	HEIGHT: 388px
}
.cx_tab_content02 {
	HEIGHT: 388px
}
.cx_tab_content03 {
	HEIGHT: 388px
}
.cx_tab_content04 {
	HEIGHT: 388px
}
.brand-scllo {
	BORDER-RIGHT: #c75692 1px solid; BORDER-TOP: #c75692 1px solid; BACKGROUND: #fef6f9; MARGIN: 12px 0px 0px; BORDER-LEFT: #c75692 1px solid; WIDTH: 778px; BORDER-BOTTOM: #c75692 1px solid; HEIGHT: 80px
}
.brand-scllo .arrow {
	BACKGROUND-POSITION: -186px -255px
}
.brand-scllo .arrow-r {
	BACKGROUND-POSITION: -196px -255px
}
.brand-scllo .arrow {
	DISPLAY: inline; FLOAT: left; MARGIN: 18px 5px 0px; WIDTH: 10px; CURSOR: pointer; HEIGHT: 45px
}
.brand-scllo .arrow-r {
	DISPLAY: inline; FLOAT: left; MARGIN: 18px 5px 0px; WIDTH: 10px; CURSOR: pointer; HEIGHT: 45px
}
.masks {
	Z-INDEX: 1; FLOAT: left; OVERFLOW: hidden; WIDTH: 737px; POSITION: relative; HEIGHT: 80px
}
.scollcent {
	OVERFLOW: hidden; WIDTH: 8000px; POSITION: absolute; HEIGHT: 70px
}
.brand-list {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px 0px 0px 2px; WIDTH: 104px; HEIGHT: 60px
}
.brand-list .pic {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #eee 1px solid; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 13px 0px 5px; BORDER-LEFT: #eee 1px solid; WIDTH: 90px; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid; HEIGHT: 35px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.pichover {
	BORDER-RIGHT: #c75692 1px solid; BORDER-TOP: #c75692 1px solid; BORDER-LEFT: #c75692 1px solid; BORDER-BOTTOM: #c75692 1px solid
}
.brand-list .pic IMG {
	WIDTH: 90px; HEIGHT: 30px
}
.brand-list .text {
	DISPLAY: block; OVERFLOW: hidden; LINE-HEIGHT: 12px; HEIGHT: 23px; TEXT-ALIGN: center
}
.l_rqdp {
	CLEAR: both; FLOAT: left; OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 8px; BORDER-BOTTOM: #cbcbcb 1px dashed; HEIGHT: 185px
}
.l_dppicbox {
	FLOAT: left; POSITION: relative
}
.l_rqdp .rq_pic {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px 15px 0px 40px; OVERFLOW: hidden; WIDTH: 130px; LINE-HEIGHT: 18px; WHITE-SPACE: nowrap; HEIGHT: 180px; TEXT-ALIGN: center
}
.l_rqdp .rq_pic .price {
	LINE-HEIGHT: 20px
}
.l_rqdp .rq_pic .tm_price_h {
	COLOR: #999
}
.l_rqdp .rq_pic .user_price_h {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #d70000; MARGIN-RIGHT: 8px
}
.l_rqdp .rq_star IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 1px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.l_rqdp .rq_fen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; COLOR: #c00e00; PADDING-TOP: 0px
}
.l_new {
	DISPLAY: block; RIGHT: 0px; BACKGROUND: url(http://img.tiantian.com/index-img/idex-png.png) no-repeat 0px -219px; WIDTH: 41px; POSITION: absolute; TOP: 30px; HEIGHT: 41px
}
.l_rqdp .kd_text {
	OVERFLOW: hidden; WHITE-SPACE: normal; HEIGHT: 32px
}
.l_week_h {
	Z-INDEX: 1
}
.l_week_h .l_week_l_arrow {
	MARGIN-TOP: 185px; DISPLAY: block; WIDTH: 13px; CURSOR: pointer; HEIGHT: 15px
}
.l_week_h .l_week_r_arrow {
	MARGIN-TOP: 185px; DISPLAY: block; WIDTH: 13px; CURSOR: pointer; HEIGHT: 15px
}
.l_week_l_arrow {
	BACKGROUND-POSITION: -150px -280px; FLOAT: left
}
.l_week_r_arrow {
	BACKGROUND-POSITION: -165px -280px; FLOAT: right; MARGIN-RIGHT: 3px
}
.l_week_content {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 740px; POSITION: relative; HEIGHT: 388px
}
.l_week_scoll {
	OVERFLOW: hidden; POSITION: absolute
}
.l_week_pic_box {
	WIDTH: 900000px; BORDER-BOTTOM: #ccc 1px dashed; HEIGHT: 192px
}
.l_week_pic_box_l {
	BORDER-RIGHT: #f2e3ea 2px solid; BORDER-TOP: #f2e3ea 2px solid; FLOAT: left; BORDER-LEFT: #f2e3ea 2px solid; WIDTH: 120px; BORDER-BOTTOM: #f2e3ea 2px solid; HEIGHT: 150px; TEXT-ALIGN: center
}
.l_week_pic_box_l IMG {
	MARGIN-TOP: 10px
}
.l_week_zu {
	FLOAT: left; MARGIN: 25px 10px 0px 20px; WIDTH: 350px; POSITION: relative
}
.l_week_pic_box_r {
	PADDING-LEFT: 8px; FLOAT: left; WIDTH: 210px
}
.l_week_pic_box_r LI {
	CLEAR: both
}
.l_week_pic_box_r .yang {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; COLOR: #d70000
}
.zhisu {
	OVERFLOW: hidden; HEIGHT: 20px
}
.zhisu .rec {
	FLOAT: left; COLOR: #a0a0a0; LINE-HEIGHT: 15px
}
.zhisu .star {
	BACKGROUND-POSITION: -125px -281px; DISPLAY: block; FLOAT: left; WIDTH: 15px; HEIGHT: 15px
}
.yxlxx {
	BACKGROUND-POSITION: -236px -280px; MARGIN-TOP: 5px; DISPLAY: block; FLOAT: left; WIDTH: 16px; HEIGHT: 17px
}
.c_tjxx {
	CLEAR: both; DISPLAY: inline
}
.c_tjxx .gongxiao {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.l_week_pic_box_l .guan {
	BACKGROUND-POSITION: 0px -212px; LEFT: -20px; WIDTH: 55px; POSITION: absolute; TOP: -20px; HEIGHT: 55px
}
.xinde {
	COLOR: #a0a0a0
}
.gongxiao {
	COLOR: #a0a0a0
}
.liyou {
	COLOR: #a0a0a0
}
.l_week_pic_box_r LI .liyou {
	OVERFLOW: hidden; HEIGHT: 28px
}
.xinde STRONG {
	FONT-WEIGHT: 700; COLOR: #cc6662
}
.gongxiao SPAN {
	COLOR: #333
}
.liyou SPAN {
	COLOR: #333
}
.l_cxppt {
	BACKGROUND-POSITION: 0px -76px; WIDTH: 194px; POSITION: relative; HEIGHT: 34px
}
.l_cxpp {
	CLEAR: both; PADDING-BOTTOM: 12px; OVERFLOW: hidden; HEIGHT: 1044px
}
.l_cxpp .list {
	BORDER-RIGHT: #d4d2d3 1px solid; BORDER-TOP: #d4d2d3 1px solid; BORDER-LEFT: #d4d2d3 1px solid; WIDTH: 192px; BORDER-BOTTOM: #d4d2d3 1px solid; HEIGHT: 1044px
}
.l_cxpp .list DT {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; PADDING-BOTTOM: 8px; COLOR: #000; TEXT-INDENT: 10px; PADDING-TOP: 16px
}
.l_cxpp .list DD {
	FLOAT: left; MARGIN-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 60px; WORD-BREAK: keep-all; TEXT-INDENT: 10px; WHITE-SPACE: nowrap
}
.l_l_gdpp {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.l_spgxt {
	BACKGROUND-POSITION: 0px -114px; WIDTH: 194px; POSITION: relative; HEIGHT: 34px
}
.l_spgx {
	CLEAR: both; BORDER-RIGHT: #d4d2d3 1px solid; BORDER-TOP: #d4d2d3 1px solid; OVERFLOW: hidden; BORDER-LEFT: #d4d2d3 1px solid; WIDTH: 192px; BORDER-BOTTOM: #d4d2d3 1px solid; HEIGHT: 360px
}
.l_spgx .list {
	PADDING-TOP: 10px
}
.l_spgx .list DT {
	CLEAR: both; FONT-WEIGHT: 700; PADDING-BOTTOM: 5px; COLOR: #000; TEXT-INDENT: 10px
}
.l_spgx .list DD {
	FLOAT: left; MARGIN-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 63px; WORD-BREAK: keep-all; TEXT-INDENT: 8px; WHITE-SPACE: nowrap
}
.l_mrhf {
	CLEAR: both; BORDER-RIGHT: #f9e3d6 1px solid; BORDER-TOP: #f9e3d6 1px solid; MARGIN: 0px 2px 10px 0px; BORDER-LEFT: #f9e3d6 1px solid; BORDER-BOTTOM: #f9e3d6 1px solid; HEIGHT: 255px
}
.l_mrhf_tittle {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 5px; BORDER-LEFT: #f9e3d6 5px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #f9e3d6 1px solid; HEIGHT: 25px; TEXT-ALIGN: right
}
.l_mrhf .l_xscl_tittle {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: 0px -30px; PADDING-LEFT: 5px; BORDER-LEFT: #f096b2 5px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #f9e3d6 1px solid; HEIGHT: 25px; TEXT-ALIGN: right
}
.l_hf_list {
	DISPLAY: block; FLOAT: right
}
.l_hf_list .hot {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; COLOR: #f3bb9e; PADDING-TOP: 0px
}
.l_hf_list A {
	MARGIN: 0px 2px
}
.l_mrhf .l_mrhf_pic_r {
	FLOAT: right; WIDTH: 600px
}
.l_mrhf .l_mrhf_pic_r .scllobox {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 570px; POSITION: relative; HEIGHT: 220px
}
.l_mrhf .l_mrhf_pic_r .scllobox_r {
	RIGHT: 0px; OVERFLOW-X: auto; WIDTH: 5500px; POSITION: absolute; HEIGHT: 220px
}
.l_mrhf .l_mrhf_pic_r .scllobox .l_mrhf_goods {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 0px 5px; WIDTH: 120px; PADDING-TOP: 5px; POSITION: relative; HEIGHT: 207px; TEXT-ALIGN: left
}
.l_mrhf .l_mrhf_pic_r .scllobox .l_mrhf_goods .text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 20px; PADDING-TOP: 10px; HEIGHT: 40px
}
.l_mrhf_goods_hover {
	BORDER-RIGHT: #a3306b 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a3306b 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px 8px; BORDER-LEFT: #a3306b 1px solid; WIDTH: 120px; PADDING-TOP: 5px; BORDER-BOTTOM: #a3306b 1px solid; HEIGHT: 207px; TEXT-ALIGN: left
}
.l_mrhf .l_mrhf_pic_r .scllobox .l_mrhf_goods_hover .text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 10px; HEIGHT: 35px
}
.l_mrhf .price {
	
}
.l_mrhf .tm_price_h {
	COLOR: #999
}
.l_mrhf .user_price_h {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #d70000; MARGIN-RIGHT: 8px
}
.l_r_s_arrow {
	BACKGROUND-POSITION: -209px -216px; MARGIN-TOP: 50px; DISPLAY: block; FLOAT: left; WIDTH: 18px; CURSOR: pointer; HEIGHT: 85px
}
.l_mrhf_tittle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url(http://img.tiantian.com/index-img/btn_bg.gif) no-repeat; OVERFLOW: hidden; BORDER-LEFT: #c399bf 5px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #fceee5 1px solid; HEIGHT: 25px; TEXT-ALIGN: right
}
.l_xscl_tittle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url(http://img.tiantian.com/index-img/btn_bg.gif) no-repeat; OVERFLOW: hidden; BORDER-LEFT: #c399bf 5px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #fceee5 1px solid; HEIGHT: 25px; TEXT-ALIGN: right
}
.l_sscz_tittle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url(http://img.tiantian.com/index-img/btn_bg.gif) no-repeat; OVERFLOW: hidden; BORDER-LEFT: #c399bf 5px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #fceee5 1px solid; HEIGHT: 25px; TEXT-ALIGN: right
}
.l_mtss_tittle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url(http://img.tiantian.com/index-img/btn_bg.gif) no-repeat; OVERFLOW: hidden; BORDER-LEFT: #c399bf 5px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #fceee5 1px solid; HEIGHT: 25px; TEXT-ALIGN: right
}
.l_grhl_tittle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url(http://img.tiantian.com/index-img/btn_bg.gif) no-repeat; OVERFLOW: hidden; BORDER-LEFT: #c399bf 5px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #fceee5 1px solid; HEIGHT: 25px; TEXT-ALIGN: right
}
.l_jkzq_tittle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url(http://img.tiantian.com/index-img/btn_bg.gif) no-repeat; OVERFLOW: hidden; BORDER-LEFT: #c399bf 5px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #fceee5 1px solid; HEIGHT: 25px; TEXT-ALIGN: right
}
.l_sbps_tittle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url(http://img.tiantian.com/index-img/btn_bg.gif) no-repeat; OVERFLOW: hidden; BORDER-LEFT: #c399bf 5px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #fceee5 1px solid; HEIGHT: 25px; TEXT-ALIGN: right
}
.l_xiangbao_tittle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url(http://img.tiantian.com/index-img/btn_bg.gif) no-repeat; OVERFLOW: hidden; BORDER-LEFT: #c399bf 5px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #fceee5 1px solid; HEIGHT: 25px; TEXT-ALIGN: right
}
.l_xscl {
	BORDER-RIGHT: #e1d4de 1px solid; BORDER-TOP: #e1d4de 1px solid; FLOAT: left; MARGIN: 10px 0px 0px 1px; BORDER-LEFT: #e1d4de 1px solid; WIDTH: 487px; BORDER-BOTTOM: #e1d4de 1px solid; HEIGHT: 287px
}
.l_sscz_tittle {
	BACKGROUND-POSITION: 0px -62px
}
.l_mtss {
	BORDER-RIGHT: #fceee5 1px solid; BORDER-TOP: #fceee5 1px solid; FLOAT: right; MARGIN: 10px 1px 0px 0px; BORDER-LEFT: #fceee5 1px solid; WIDTH: 487px; BORDER-BOTTOM: #fceee5 1px solid; HEIGHT: 287px
}
.l_mtss_tittle {
	BACKGROUND-POSITION: 0px -92px
}
.l_grhl {
	BORDER-RIGHT: #fceee5 1px solid; BORDER-TOP: #fceee5 1px solid; FLOAT: left; MARGIN: 10px 0px 0px 1px; BORDER-LEFT: #fceee5 1px solid; WIDTH: 487px; BORDER-BOTTOM: #fceee5 1px solid; HEIGHT: 287px
}
.l_grhl_tittle {
	BACKGROUND-POSITION: 0px -124px; OVERFLOW: hidden; HEIGHT: 25px
}
.l_jkzq {
	BORDER-RIGHT: #eef9eb 1px solid; BORDER-TOP: #eef9eb 1px solid; FLOAT: right; MARGIN: 10px 1px 0px 0px; BORDER-LEFT: #eef9eb 1px solid; WIDTH: 487px; BORDER-BOTTOM: #eef9eb 1px solid; HEIGHT: 287px
}
.l_jkzq_tittle {
	BACKGROUND-POSITION: 0px -156px
}
.l_sbps {
	BORDER-RIGHT: #efedee 1px solid; BORDER-TOP: #efedee 1px solid; FLOAT: left; MARGIN: 10px 0px 0px 1px; BORDER-LEFT: #efedee 1px solid; WIDTH: 487px; BORDER-BOTTOM: #efedee 1px solid; HEIGHT: 287px
}
.l_sbps_tittle {
	BACKGROUND-POSITION: 0px -188px
}
.l_xiangbao {
	BORDER-RIGHT: #e6f7fe 1px solid; BORDER-TOP: #e6f7fe 1px solid; FLOAT: right; MARGIN: 10px 1px 0px 0px; BORDER-LEFT: #e6f7fe 1px solid; WIDTH: 487px; BORDER-BOTTOM: #e6f7fe 1px solid; HEIGHT: 287px
}
.l_xiangbao_tittle {
	BACKGROUND-POSITION: 0px -220px
}
.more {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.reping {
	BORDER-RIGHT: #dcdcdc 1px solid; BORDER-TOP: #dcdcdc 1px solid; FLOAT: left; MARGIN: 0px 0px 10px; BORDER-LEFT: #dcdcdc 1px solid; BORDER-BOTTOM: #dcdcdc 1px solid; HEIGHT: 260px
}
.reping .l_r_t {
	PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 20px; BACKGROUND: url(http://img.tiantian.com/index-img/idex-png.png) repeat-x 0px -173px; PADDING-BOTTOM: 0px; COLOR: #636363; LINE-HEIGHT: 28px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 28px; TEXT-ALIGN: left
}
.reping .l_r_thot {
	PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; COLOR: #8d2057; LINE-HEIGHT: 28px; PADDING-TOP: 0px; HEIGHT: 28px; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: left
}
.reping .l_r_t_r {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(http://img.tiantian.com/index-img/idex-png.png) repeat-x 0px -139px; PADDING-BOTTOM: 0px; COLOR: #8d2055; LINE-HEIGHT: 28px; PADDING-TOP: 0px; HEIGHT: 28px; TEXT-ALIGN: left
}
.yxl-active {
	BACKGROUND: url(http://img.tiantian.com/index-img/right-bg.jpg) no-repeat -135px -322px; COLOR: #ca090a
}
.yxl {
	DISPLAY: block; LEFT: 10px; FLOAT: left; WIDTH: 97px; CURSOR: pointer; POSITION: absolute; TOP: 0px; HEIGHT: 30px; TEXT-ALIGN: center
}
.yxl-active {
	DISPLAY: block; LEFT: 10px; FLOAT: left; WIDTH: 97px; CURSOR: pointer; POSITION: absolute; TOP: 0px; HEIGHT: 30px; TEXT-ALIGN: center
}
.mtjj-active {
	BACKGROUND: url(http://img.tiantian.com/index-img/right-bg.jpg) no-repeat 0px -322px; COLOR: #ca090a
}
.mtjj {
	DISPLAY: block; LEFT: 107px; FLOAT: left; WIDTH: 122px; CURSOR: pointer; POSITION: absolute; TOP: 0px; HEIGHT: 30px; TEXT-ALIGN: center
}
.mtjj-active {
	DISPLAY: block; LEFT: 107px; FLOAT: left; WIDTH: 122px; CURSOR: pointer; POSITION: absolute; TOP: 0px; HEIGHT: 30px; TEXT-ALIGN: center
}
.mtjj-content LI {
	OVERFLOW: hidden; BORDER-BOTTOM: #ccc 1px dashed; HEIGHT: 60px
}
.mtjj-content LI IMG {
	FLOAT: left; MARGIN: 5px 5px 5px 2px
}
.mtjj-text {
	FLOAT: left; WIDTH: 263px; LINE-HEIGHT: 20px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.mtjj-text .mtjj-tittle {
	DISPLAY: block; COLOR: #ca090a; PADDING-TOP: 5px
}
.mtjj-more {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: right; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.mtjj-text .mtjj-nr {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 263px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.reping .l_rp {
	DISPLAY: block; FONT-WEIGHT: 700; FLOAT: left
}
.rp_pic {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 185px; PADDING-TOP: 20px
}
.rp_pic IMG {
	FLOAT: left; MARGIN: 0px 10px
}
.rp_pic .star {
	COLOR: #e0599b; PADDING-TOP: 5px
}
.rp_pic .rp_goods {
	FLOAT: left; TEXT-ALIGN: left
}
.rp_pic .intro {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; PADDING-BOTTOM: 5px; COLOR: #000; PADDING-TOP: 5px
}
.rp_pic .rp_goods .text {
	DISPLAY: block; FONT-WEIGHT: 700; OVERFLOW: hidden; WIDTH: 100px; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; HEIGHT: 32px; TEXT-ALIGN: left
}
.l_ttyxl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; WIDTH: 400px; LINE-HEIGHT: 20px; PADDING-TOP: 20px; TEXT-ALIGN: left
}
.l_ttyxl IMG {
	MARGIN: 0px 8px
}
.l_b_link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 30px
}
.l_b_link IMG {
	MARGIN: 8px 0px
}
.l_fooer_new {
	
}
.l_shuoming IMG {
	FLOAT: left; VERTICAL-ALIGN: middle
}
.l_help_new {
	CLEAR: both; WIDTH: 990px; HEIGHT: 160px; BACKGROUND-COLOR: #f3f3f3; TEXT-ALIGN: left
}
.l_help_new .l_help_c {
	MARGIN: 0px auto; WIDTH: 780px; TEXT-ALIGN: center
}
.l_help_dl {
	FLOAT: left; WIDTH: 155px
}
.l_help_dl DT {
	PADDING-RIGHT: 0px; MARGIN-TOP: 20px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; PADDING-BOTTOM: 5px; COLOR: #000; TEXT-INDENT: 15px; PADDING-TOP: 5px
}
.l_help_dl DD {
	BACKGROUND-POSITION: -265px -216px; TEXT-INDENT: 15px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.subnav {
	FONT-WEIGHT: 700; WIDTH: 990px; COLOR: #fff; LINE-HEIGHT: 30px; HEIGHT: 30px; BACKGROUND-COLOR: #c9337a
}
.subnav A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, sans-serif
}
.subnav A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.otherconent {
	MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 535px; LINE-HEIGHT: 20px; PADDING-TOP: 30px
}
.copyright {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 380px; COLOR: #666; LINE-HEIGHT: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.other {
	MARGIN: 0px auto; WIDTH: 600px
}
.other SPAN {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 130px; COLOR: #666; TEXT-ALIGN: left
}
.other IMG {
	FLOAT: left; MARGIN: 0px 5px 0px 0px
}
.l_xscl_pic_r {
	FLOAT: right; WIDTH: 286px; TEXT-ALIGN: center
}
.l_m_picpric {
	FONT-WEIGHT: 700; COLOR: #d70000; TEXT-ALIGN: left
}
.l_m_pic {
	FLOAT: left; MARGIN: 10px 5px 0px 8px; OVERFLOW: hidden; WIDTH: 122px; POSITION: relative; HEIGHT: 236px
}
.l_m_pic LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.l_m_pic .text {
	FONT-SIZE: 12px; OVERFLOW: hidden; LINE-HEIGHT: 20px; PADDING-TOP: 5px; FONT-STYLE: normal; HEIGHT: 40px; TEXT-ALIGN: left
}
.l_m_pic .text A {
	LINE-HEIGHT: 20px
}
.l_m_pic .l_pic_b {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 15px; WIDTH: 120px; PADDING-TOP: 15px; HEIGHT: 120px
}
.l_m_pic A {
	LINE-HEIGHT: 100%
}
.l_m_pic .price {
	LEFT: 5px; POSITION: absolute; TOP: 206px
}
.l_m_pic .tm_price_h {
	COLOR: #999
}
.l_m_pic .user_price_h {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #d70000; MARGIN-RIGHT: 8px
}
.slides {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 589px; POSITION: relative; HEIGHT: 354px
}
.slide-pic {
	OVERFLOW: hidden; WIDTH: 584px; HEIGHT: 354px
}
.slide-pic IMG {
	WIDTH: 584px; HEIGHT: 355px
}
.slide-li {
	LEFT: 0px; BOTTOM: 0px; POSITION: absolute
}
.slide-li LI {
	DISPLAY: inline; FLOAT: left; OVERFLOW: hidden; WIDTH: 116px; LINE-HEIGHT: 35px; WHITE-SPACE: nowrap; HEIGHT: 35px; TEXT-ALIGN: center
}
.slide-li A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 100px; COLOR: #fff; PADDING-TOP: 0px; HEIGHT: 35px
}
.op LI {
	BACKGROUND: #666; FILTER: alpha(opacity=80); opacity: 0.6px
}
.op LI.cur {
	BORDER-RIGHT: #e61e74 2px solid; BORDER-TOP: #e61e74 2px solid; BACKGROUND: #706257; BORDER-LEFT: #e61e74 2px solid; BORDER-BOTTOM: #e61e74 2px solid; HEIGHT: 31px
}
.slide-txt SPAN {
	DISPLAY: none
}
#downmsg_tttuan {
	Z-INDEX: 100; BACKGROUND: url(http://img.tiantian.com/index-img/tc_bg_tttuan.jpg) no-repeat -1px -2px; WIDTH: 355px; POSITION: fixed; HEIGHT: 241px
}
 HTML {
	BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(about:blank)
}
#downmsg_tttuan {
	BOTTOM: auto; POSITION: absolute; ; TOP: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 0)||0)-(parseInt(this.currentStyle.marginBottom, 0)||0)))
}
#downmsgBar {
	PADDING-RIGHT: 13px; HEIGHT: 45px; TEXT-ALIGN: left
}
#downmsgBar A {
	BACKGROUND-POSITION: -186px -232px; DISPLAY: block; FLOAT: right; MARGIN: 10px 0px 0px; WIDTH: 10px; HEIGHT: 10px
}
#donwmsg_content DIV {
	OVERFLOW: hidden
}
#donwmsg_content DIV A {
	DISPLAY: block; PADDING-LEFT: 5px; HEIGHT: 165px
}
#donwmsg_content IMG {
	BORDER-RIGHT: red 1px solid; BORDER-TOP: red 1px solid; BORDER-LEFT: red 1px solid; BORDER-BOTTOM: red 1px solid
}
#donwmsg_content .footime {
	PADDING-LEFT: 10px; FONT-SIZE: 12px; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.footime SPAN {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 0px; HEIGHT: 21px
}
.footime SPAN.tit {
	PADDING-RIGHT: 4px; FONT-WEIGHT: bolder; COLOR: #000
}
.footime SPAN.shu {
	BACKGROUND-POSITION: -93px -278px; FONT-WEIGHT: bolder; OVERFLOW: hidden; WIDTH: 14px; COLOR: #fff; HEIGHT: 21px; TEXT-ALIGN: center
}
.footime SPAN.shu_d {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: bolder; FONT-SIZE: 22px; PADDING-BOTTOM: 0px; COLOR: #b3135e; PADDING-TOP: 0px
}
.topbanner {
	MARGIN-TOP: -3px; MARGIN-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 990px
}
.topbanner A {
	DISPLAY: block; FLOAT: left
}
.tiantianword {
	LEFT: -9999px; POSITION: absolute
}
.l_top_banner {
	DISPLAY: block; HEIGHT: 74px
}
BODY {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
DIV {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
DL {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
DT {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
DD {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
UL {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
OL {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
LI {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
H1 {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
H2 {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
H3 {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
H4 {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
H5 {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
H6 {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
PRE {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
FORM {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
SPAN {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
I {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
STRONG {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
FIELDSET {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
LEGEND {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
INPUT {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
BUTTON {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
TEXTAREA {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
P {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
BLOCKQUOTE {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
THEAD {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
TBODY {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
TFOOT {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
TD {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
ADDRESS {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
STRONG {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
I {
	FONT-WEIGHT: 400; FONT-STYLE: normal
}
.c_l {
	CLEAR: both
}
.l_new_r_banner {
	CLEAR: both
}
.l_mddle_banner02 {
	CLEAR: both
}
.l_xsqg_tab {
	CLEAR: both
}
.l_xsqg_tab DD {
	CLEAR: both
}
.l_xsqg_tab DT {
	CLEAR: both
}
.l_shuoming {
	CLEAR: both
}
.heise_new {
	COLOR: #000
}
.hui_new {
	COLOR: #000
}
.fb {
	FONT-WEIGHT: 700
}
.qg_list LI A {
	FONT-WEIGHT: 700
}
.reping .l_r_t_r SPAN {
	FONT-WEIGHT: 700
}
.reping .l_r_t SPAN {
	FONT-WEIGHT: 700
}
.l_top_sj {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.hot_word A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.top_cart_loop LI {
	FLOAT: left
}
.t_input_ss {
	FLOAT: left
}
.l_mrhf .l_mrhf_pic IMG {
	FLOAT: left
}
.l_xscl .l_mrhf_pic IMG {
	FLOAT: left
}
.l_mrhf_pic IMG {
	FLOAT: left
}
.l_sbps .l_mrhf_pic IMG {
	FLOAT: left
}
.l_xiangbao .l_mrhf_pic IMG {
	FLOAT: left
}
.all_fenlei-h2 .leibie-a .hiddenlsit .list-right DD STRONG {
	DISPLAY: block
}
.slide-pic LI.cur {
	DISPLAY: block
}
.qg_list LI A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.slide-li .cur A {
	COLOR: #fff; TEXT-DECORATION: none
}
.slide-li A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.l_cxpp .list DD A {
	DISPLAY: block; LINE-HEIGHT: 25px
}
.l_spgx .list DD A {
	DISPLAY: block; LINE-HEIGHT: 25px
}
.l_mrhf .l_mrhf_pic {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.l_xscl .l_mrhf_pic {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.l_mrhf_pic {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.l_sbps .l_mrhf_pic {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.l_xiangbao .l_mrhf_pic {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.l_mrhf .l_mrhf_pic_r .scllobox .l_mrhf_goods LI {
	CLEAR: both; LINE-HEIGHT: 15px
}
.l_mrhf .l_mrhf_pic_r .scllobox .l_mrhf_goods_hover LI {
	CLEAR: both; LINE-HEIGHT: 15px
}
.l_mrhf .l_mrhf_pic_r .scllobox .l_mrhf_goods .pic {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.l_mrhf .l_mrhf_pic_r .scllobox .l_mrhf_goods_hover .pic {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.l_mrhf .l_mrhf_pic_r .scllobox .l_mrhf_goods LI STRONG {
	FONT-WEIGHT: 700; COLOR: #d70000
}
.l_mrhf .l_mrhf_pic_r .scllobox .l_mrhf_goods_hover LI STRONG {
	FONT-WEIGHT: 700; COLOR: #d70000
}

.move_div_top_third {
	DISPLAY: none; RIGHT: 85px; OVERFLOW: hidden; WIDTH: 32px; COLOR: white; BOTTOM: 100px; POSITION: absolute; HEIGHT: 180px
}
.move_div_top_third EM {
	DISPLAY: block; TEXT-ALIGN: center
}
.move_div_top_third SPAN {
	DISPLAY: block; TEXT-ALIGN: center
}
.move_div_top_third EM A {
	COLOR: #d22b61; TEXT-DECORATION: none
}
.move_div_top_third SPAN A {
	COLOR: #d22b61; TEXT-DECORATION: none
}
.move_div_top_third EM A {
	COLOR: #d22b61; TEXT-DECORATION: none
}
.move_div_top SPAN A:hover {
	COLOR: #d22b61; TEXT-DECORATION: none
}
#l_layout-n {
	MARGIN: 0px auto; WIDTH: 990px
}
#top_201111 {
	HEIGHT: 914px
}
#top_201111 .submenu {
	FONT-SIZE: 13px; Z-INDEX: 1; LINE-HEIGHT: 25px; POSITION: relative; HEIGHT: 25px
}
#top_201111 .submenu SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#top_201111 .submenu SPAN A {
	FONT-SIZE: 12px
}
#top_201111 #l_submenu_nav {
	FLOAT: left; OVERFLOW: hidden
}
#top_201111 #l_submenu_nav A {
	PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; FONT-SIZE: 12px; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) no-repeat -1px -363px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: -1px; COLOR: #000; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#top_201111 #l_submenu_nav A:hover {
	COLOR: #de0074
}
#top_201111 #l_submenu_nav .last {
	OVERFLOW: hidden; WIDTH: 59px
}
#top_201111 #l_submenu_left {
	RIGHT: 300px; OVERFLOW: hidden; POSITION: absolute; TOP: 0px
}
#top_201111 #l_submenu_left SPAN {
	BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) no-repeat 45px -363px; WIDTH: 47px; MARGIN-RIGHT: -1px; TEXT-ALIGN: center
}
#top_201111 #l_submenu_left SPAN A {
	
}
#top_201111 #l_submenu_left SPAN A:hover {
	TEXT-DECORATION: underline
}
#top_201111 .submenu_right {
	FLOAT: right
}
#top_201111 .submenu_right SPAN {
	BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) no-repeat -1px -363px; WIDTH: 65px; TEXT-ALIGN: center
}
#top_201111 .submenu_right SPAN A {
	COLOR: #666
}
#top_201111 .submenu_right SPAN A:hover {
	COLOR: #de0074
}
#top_201111 .hello {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 13px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 210px; COLOR: #666; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#top_201111 .my_home_new {
	FONT-SIZE: 13px; Z-INDEX: 99; FLOAT: left; WIDTH: 75px; POSITION: relative; TEXT-ALIGN: left
}
#top_201111 .my_home_new A:hover {
	COLOR: #e20062
}
#top_201111 .submenu .l_top_my {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #dddddd 1px solid; MARGIN-TOP: 2px; DISPLAY: block; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) 59px -430px; BORDER-LEFT: #dddddd 1px solid; WIDTH: 56px; TEXT-INDENT: 3px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #dddddd 1px; HEIGHT: 24px
}
#top_201111 .submenu .l_down_my {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #fff 1px solid; MARGIN-TOP: 2px; DISPLAY: block; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) 59px -460px; BORDER-LEFT: #fff 1px solid; WIDTH: 56px; TEXT-INDENT: 3px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #fff 1px; HEIGHT: 24px
}
#top_201111 .my_home_new .my_home_list {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px; Z-INDEX: 9999; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) #fff no-repeat 68px -600px; LEFT: 0px; BORDER-LEFT: #dddddd 1px solid; WIDTH: 74px; PADDING-TOP: 2px; BORDER-BOTTOM: #dddddd 1px solid; POSITION: absolute; TOP: 25px
}
#top_201111 .my_home_new .my_home_list .m_middle_c {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#top_201111 .my_home_new .my_home_list .m_footer_c {
	OVERFLOW: hidden; HEIGHT: 6px
}
#top_201111 .my_home_new .my_home_list A:hover {
	COLOR: #e20062
}
#top_201111 .logobox {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#top_201111 .logobox .logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
}
#top_201111 .logobox .logo_baozheng {
	BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) no-repeat; FLOAT: left; MARGIN: 43px 0px 0px 48px; WIDTH: 400px; HEIGHT: 36px
}
#top_201111 .logobox .top-video {
	FLOAT: left; MARGIN: 5px 0px 0px 126px; WIDTH: 235px
}
#top_201111 .logobox .logo_r {
	FLOAT: right; WIDTH: 260px; HEIGHT: 80px
}
#top_201111 .logobox .logo_r .call {
	MARGIN-TOP: 26px; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) no-repeat -200px -400px; FLOAT: right; WIDTH: 215px; PADDING-TOP: 35px; TEXT-ALIGN: right
}
#top_201111 .logobox .logo_r .call .time {
	MARGIN-BOTTOM: 3px; OVERFLOW: hidden; LINE-HEIGHT: 22px; HEIGHT: 22px
}
#top_201111 .logobox .logo_r .call .time SPAN {
	COLOR: #000
}
#top_201111 .logobox .logo_r .call .p {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mainnav_201111 {
	CLEAR: both; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) repeat-x 0px -120px; LINE-HEIGHT: 35px; POSITION: relative; HEIGHT: 35px; TEXT-ALIGN: left
}
#mainnav_201111 .nav-l {
	PADDING-LEFT: 11px
}
#mainnav_201111 .nav-l LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#mainnav_201111 .nav-l LI IMG {
	MARGIN-TOP: 5px
}
#mainnav_201111 LI A {
	DISPLAY: block; PADDING-LEFT: 8px; FONT-SIZE: 14px; FLOAT: left; COLOR: #fff; HEIGHT: 36px
}
#mainnav_201111 LI A SPAN {
	PADDING-RIGHT: 8px; DISPLAY: block; FLOAT: left; WIDTH: 64px; CURSOR: pointer; LINE-HEIGHT: 18px; PADDING-TOP: 10px; WHITE-SPACE: nowrap; HEIGHT: 25px; TEXT-ALIGN: center
}
#mainnav_201111 LI .main_navactive {
	FONT-WEIGHT: bolder; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) -291px -515px; COLOR: #ef0074; TEXT-DECORATION: none
}
#mainnav_201111 LI .main_navactive SPAN {
	FONT-WEIGHT: bolder; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) right -515px
}
#mainnav_201111 LI A:hover {
	FONT-WEIGHT: bolder; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) -291px -515px; COLOR: #ef0074; TEXT-DECORATION: none
}
#mainnav_201111 LI A:hover SPAN {
	FONT-WEIGHT: bolder; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) right -515px
}
#mainnav_201111 .nav_left {
	BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) no-repeat 0px -260px; LEFT: 0px; WIDTH: 10px; POSITION: absolute; TOP: 0px; HEIGHT: 86px
}
#mainnav_201111 .nav_right {
	RIGHT: 0px; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) no-repeat -20px -260px; WIDTH: 8px; POSITION: absolute; TOP: 0px; HEIGHT: 86px
}
#mainnav_201111 .hot_bbs {
	
}
#mainnav_201111 .hot_tt {
	
}
#seacher_201111 .top_cart_div {
	FLOAT: right
}
#seacher_201111 .top_cart_div .cart {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: relative
}
#seacher_201111 .top_cart_div .cart .gwd {
	DISPLAY: block; FLOAT: left; MARGIN: 0px; WIDTH: 172px; TEXT-INDENT: 50px
}
#seacher_201111 .top_cart_div .cart_box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) -172px -337px; FLOAT: right; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 230px; LINE-HEIGHT: 20px; PADDING-TOP: 6px; POSITION: relative; HEIGHT: 25px
}
#seacher_201111 .top_cart_div .cart_box .baise_new {
	FONT-WEIGHT: bolder; COLOR: #d70000
}
#seacher_201111 .top_cart_div .cart .jiage {
	FONT-WEIGHT: bold; COLOR: #c8337a
}
#seacher_201111 .top_cart_div .cart .cart_list {
	BORDER-RIGHT: #f6ce7d 3px solid; PADDING-RIGHT: 8px; BORDER-TOP: #f6ce7d 3px solid; PADDING-LEFT: 8px; Z-INDEX: 999; RIGHT: 0px; BACKGROUND: url(http://img.tiantian.com/index-img/idex-png.png) 0px -475px; PADDING-BOTTOM: 5px; BORDER-LEFT: #f6ce7d 3px solid; WIDTH: 380px; PADDING-TOP: 8px; BORDER-BOTTOM: #f6ce7d 3px solid; POSITION: absolute; TOP: 28px; TEXT-ALIGN: center
}
#seacher_201111 .top_cart_div .cart .cart_list .top_cart_loop {
	CLEAR: both; HEIGHT: 60px
}
#seacher_201111 .top_cart_div .cart .cart_list .top_cart_loop LI {
	DISPLAY: inline; FLOAT: left; HEIGHT: 40px
}
#seacher_201111 .top_cart_div .cart .cart_list .top_cart_loop .pic {
	WIDTH: 56px; HEIGHT: 56px
}
#seacher_201111 .top_cart_div .cart .cart_list .top_cart_loop .text {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 225px; PADDING-TOP: 15px; HEIGHT: 32px; TEXT-ALIGN: left
}
#seacher_201111 .top_cart_div .cart .cart_list .top_cart_loop .price {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 110%; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 70px; COLOR: #d70000; PADDING-TOP: 16px; HEIGHT: 40px; TEXT-ALIGN: right
}
#seacher_201111 .top_cart_div .cart .cart_list .top_cart_loop .price .delate {
	FONT-WEIGHT: normal
}
#seacher_201111 .top_cart_div .cart .cart_list .l_all_price {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; PADDING-TOP: 3px; BACKGROUND-COLOR: #ffeef0; TEXT-ALIGN: right
}
#seacher_201111 .top_cart_div .cart .cart_list .l_all_price .zise_new {
	COLOR: #d70000
}
#seacher_201111 .top_cart_div .cart .cart_list .l_top_cart_js {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
#seacher_201111 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) repeat-x 0px -156px; PADDING-BOTTOM: 2px; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; HEIGHT: 45px; TEXT-ALIGN: left
}
#seacher_201111 .top_s_l {
	PADDING-LEFT: 20px; Z-INDEX: 88888; FLOAT: left; WIDTH: 700px; PADDING-TOP: 4px; POSITION: relative
}
#seacher_201111 .top_s_l .top_s_input {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 30px; FONT-SIZE: 13px; BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) -80px -277px; FLOAT: left; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; WIDTH: 250px; COLOR: #666; BORDER-TOP-STYLE: none; LINE-HEIGHT: 26px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 26px; BORDER-BOTTOM-STYLE: none
}
#seacher_201111 .top_s_l .top_s_tj {
	BACKGROUND: url(http://img.tiantian.com/index-img/2011top_bg.gif) -50px -220px; FLOAT: left; VERTICAL-ALIGN: middle; WIDTH: 47px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 26px; BORDER-BOTTOM-STYLE: none
}
#seacher_201111 .top_s_l .hot_word {
	DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; MARGIN: 5px 0px 0px; OVERFLOW: hidden; WIDTH: 300px; LINE-HEIGHT: 20px; WHITE-SPACE: nowrap; HEIGHT: 20px
}
#seacher_201111 .top_s_l .hot_word A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.hjsr_home {
	MARGIN: auto; OVERFLOW: hidden; WIDTH: 370px; FONT-FAMILY: Arial; POSITION: relative; HEIGHT: 198px
}
.hjsr_home .item {
	FLOAT: left; WIDTH: 185px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.hjsr_home .item P {
	OVERFLOW: hidden; WIDTH: 185px; LINE-HEIGHT: 30px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; o-text-overflow: ellipsis
}
.hjsr_home .goL2 {
	BACKGROUND: url(http://img.tiantian.com/index-img/hj_left.gif) #fff no-repeat left 72px; LEFT: 0px; WIDTH: 12px; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 5px; HEIGHT: 168px
}
.hjsr_home .goR2 {
	RIGHT: 0px; BACKGROUND: url(http://img.tiantian.com/index-img/hj_left.gif) #fff no-repeat right 72px; WIDTH: 12px; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 5px; HEIGHT: 168px
}
