@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding: 0;
	border: 0;
	background: none;
	text-align: center;
}
.box {
    border: 1px solid #000000;
    height:400px;
    width: 500px;
    float: left;
    margin:180px;
    margin-left: 35%;
}
.input_box{
    text-align: center;
    height: 20px;
    width: 500px;
	margin-top:35px;
}
input {
	border: 1px solid #000000;
    align-self: center;
    height: 35px;
    width: 250px;
}

button{
	margin-top:30px;
    font-size: 22px;
    width: 320px;
    height: 45px;
    align-self: center;
    margin-bottom: auto;
    background:#83aab9;
    margin-left:2%;
	color:#FFF;
}
