<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图书</title>
<link href="__PUBLIC__/Home/style/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
</head>

<body>

<div class="head">
    <div class="left"><img src="__PUBLIC__/Home/images/logo.jpg"/></div>
</div><strong></strong>
<div class="dd">
    <li><a style="color:#000" href="<?php echo U('Member/login'); ?>">登录</a>
   <a style="color:#000" href="<?php echo U('Member/regist'); ?>">|注册</a></li>
</div>
   <span id="box">搜索</span>
  <input class="box"  />

<div id="nav">
    <ul class="nav">
       <li><a href="<?php echo U('Index/index'); ?>">首页</a></li>
        <li><a href="<?php echo U('Index/Periodical'); ?>">期刊</a></li>
        <li><a href="<?php echo U('Index/Book'); ?>" class="color_in">图书</a></li>
        <li><a href="<?php echo U('Index/About'); ?>">关于我们</a></li>
        <li><a href="<?php echo U('Index/Personal center'); ?>">个人中心</a></li>
    </ul>
</div>

<div class="banner">
    <ul class="banner_pic" id="banner_pic">
        <li class="current"><img class="one" src="__PUBLIC__/Home/images/17.jpg" width="1300" height="530"/></li>
        <li class="pic"><img class="one" src="__PUBLIC__/Home/images/18.jpg" width="1300" height="530"/></li>
	    <li class="pic"><img class="one" src="__PUBLIC__/Home/images/19.jpg" width="1300" height="530"/></li>
        <li class="pic"><img class="one" src="__PUBLIC__/Home/images/20.png" width="1300" height="530"/></li>
         <li class="pic"><img class="one" src="__PUBLIC__/Home/images/21.jpg" width="1300" height="530"/></li>
          <li class="pic"><img class="one" src="__PUBLIC__/Home/images/22.png" width="1300" height="530"/></li>
	 </ul>
	  <ol id="button">
         <li class="current"></li>
 	     <li class="but"></li>
	     <li class="but"></li>
         <li class="but"></li>
         <li class="but"></li>
         <li class="but"></li>
	  </ol>

</div>

<div class="col">
	
<div class="title">
    <i class="book"></i>
    <span style="font-size:25px;">热销图书</span>
</div><br />
<div class="span">
    <a style="color:#000" href="#"><span class="click">计算机&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">电子&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">科普&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">通信&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">摄影&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">经济&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">管理&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">金融与投资&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">励志&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">心理学&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">设计&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">音乐&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">电影&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">美妆&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">生活&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">工业&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">绘画&nbsp;&nbsp;&nbsp;</span></a>
</div>
</div>
</div><br /><br />


      

<div class="foot">
<div class="list">
 <dl>
   <dt>关于我们</dt>
   <dd>社长寄语</dd>
   <dd>企业简介</dd>
   <dd>组织机构</dd>
   <dd>部门介绍</dd>
 </dl>
 <dl>
   <dt>联系我们</dt>
   <dd>读者服务</dd>
   <dd>营销渠道服务</dd>
   <dd>投稿咨询</dd>
   <dd>教材服务</dd>
   <dd>图书馆服务</dd>
   <dd>经销商园地</dd>
 </dl>
 <dl>
   <dt>联系我们</dt>
   <dd>读者服务</dd>
   <dd>营销渠道服务</dd>
   <dd>投稿咨询</dd>
   <dd>教材服务</dd>
   <dd>图书馆服务</dd>
   <dd>经销商园地</dd>
 </dl>
 <dl>
   <dt>联系我们</dt>
   <dd>读者服务</dd>
   <dd>营销渠道服务</dd>
   <dd>投稿咨询</dd>
   <dd>教材服务</dd>
   <dd>图书馆服务</dd>
   <dd>经销商园地</dd>
 </dl>
  <dl style="margin-left: 50px; margin-right: -220px;">
    <dt style="margin-right: -70px;"><img src="__PUBLIC__/Home/images/32.jpg"  width="100" height="90"></dt>
    <dt style="margin-right: -60px;margin-bottom: -10px;">关注微信</dt>
    <dd style="margin-right: -60px;">获取专属服务特权</dd>
  </dl>
  <dl style="margin-left: 250px;">
    <dt><img src="__PUBLIC__/Home/images/32.jpg"  width="100" height="90"></dt>
    <dt style="margin-bottom: -10px;">关注微店</dt>
    <dd>立即领取30元优惠券</dd>
  </dl>
</div>
</div>
</body>
</html>
