<layout name="Common/layout" />

<link rel="stylesheet" href="__PUBLIC__/Home/style/goods.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC__/Home/style/common.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC__/Home/style/jqzoom.css" type="text/css">
<script type="text/javascript" src="__PUBLIC__/Home/js/goods.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jqzoom-core.js"></script>

<script type="text/javascript">
	$(function(){
		$('.jqzoom').jqzoom({
			zoomType: 'standard',
			lens:true,
			preloadImages: false,
			alwaysOn:false,
			title:false,
			zoomWidth:400,
			zoomHeight:400
		});
	});
</script>


<include file="Common/nav" />


	<div class="main w1210 mt10 bc">
		
		<div class="breadcrumb">
			<h2>当前位置：
			<a href="/">首页</a> > 
			<?php 
			/**
			 * 方法二、先反转数组再foreach，反转函数：array_reverse($catPath);
			 */
			
			// 倒的循环输出
			$count = count($catPath);
			for($i=$count-1; $i>=0; $i--): ?>
				<a href=""><?php echo $catPath[$i]['cat_name']; ?></a> > 
			<?php endfor; ?>
			<?php echo $info['goods_name']; ?></h2>
		</div>
		
		
		
		<div class="goods_left fl">
			
			<div class="related_cat leftbar mt10">
				<h2><strong>相关分类</strong></h2>
				<div class="leftbar_wrap">
					<ul>
						<li><a href="">笔记本</a></li>
						<li><a href="">超极本</a></li>
						<li><a href="">平板电脑</a></li>
					</ul>
				</div>
			</div>
		

			<div class="related_cat	leftbar mt10">
				<h2><strong>同类品牌</strong></h2>
				<div class="leftbar_wrap">
					<ul>
						<li><a href="">D-Link</a></li>
						<li><a href="">戴尔</a></li>
						<li><a href="">惠普</a></li>
						<li><a href="">苹果</a></li>
						<li><a href="">华硕</a></li>
						<li><a href="">宏基</a></li>
						<li><a href="">神舟</a></li>
					</ul>
				</div>
			</div>
		

			
			<div class="hotgoods leftbar mt10">
				<h2><strong>热销排行榜</strong></h2>
				<div class="leftbar_wrap">
					<ul>
						<li></li>
					</ul>
				</div>
			</div>
			




			
			<div class="viewd leftbar mt10">
				<h2><a href="">清空</a><strong>最近浏览过的商品</strong></h2>
				<div class="leftbar_wrap" id="display_history"></div>
			</div>
		
		</div>
		
		
		
		<div class="goods_content fl mt10 ml10">
			
			<div class="summary">
				<h3><strong><?php echo $info['goods_name']; ?></strong></h3>
				
				
				<div class="preview fl">
					<div class="midpic">
						<a href="<?php echo $viewPath . $info['mbig_logo']; ?>" class="jqzoom" rel="gal1">   
                        
							<?php showImage($info['big_logo']); ?>              
						</a>
					</div>
	
				

					<div class="smallpic">
						<a href="javascript:;" id="backward" class="off"></a>
						<a href="javascript:;" id="forward" class="on"></a>
						<div class="smallpic_wrap">
							<ul>
								
								<li class="cur">
									<a class="zoomThumbActive" href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: '<?php echo $viewPath.$info['big_logo']; ?>',largeimage: '<?php echo $viewPath.$info['mbig_logo']; ?>'}"><?php showImage($info['sm_logo']); ?></a>
								</li>
								
								<?php foreach ($gpData as $k => $v): ?>
								<li>
									<a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: '<?php echo $viewPath.$v['mid_pic']; ?>',largeimage: '<?php echo $viewPath.$v['big_pic']; ?>'}"><?php showImage($v['sm_pic']); ?></a>
								</li>
								<?php endforeach; ?>
							</ul>
						</div>
						
					</div>
				</div>
				

				
				<div class="goodsinfo fl ml10">
					<ul>
						<li><span>商品编号： </span><?php echo $info['id']; ?></li>
						<li class="market_price"><span>定价：</span><em>￥<?php echo $info['market_price']; ?>元</em></li>
						<li class="shop_price"><span>本店价：</span> <strong>￥<?php echo $info['shop_price']; ?>元</strong></li>
						<li class="shop_price"><span>会员价格：</span>
							<p>
								<table border="1" cellpadding="5" cellspacing="5" width="30%">
									<?php foreach ($mpData as $k => $v): ?>
										<tr>
											<td><?php echo $v['level_name']; ?></td>
											<td>￥<?php echo $v['price']; ?>元</td>
										</tr>
									<?php endforeach; ?>
								</table>
							</p>
						</li>
						<li class="shop_price"><span>购买价格：</span> <strong style="font-size:25px;" id="member_price"></strong></li>
						<li><span>上架时间：</span><?php echo $info['addtime']; ?></li>
						<li class="star star3"><span>商品评分：</span> <strong></strong><a href="">(已有21人评价)</a></li>
					</ul>
					
					<form action="<?php echo U('Cart/add'); ?>" method="post" class="choose">
						<input type="hidden" name="goods_id" value="<?php echo $info['id']; ?>" />
						<ul>
							<?php foreach ($mulArr as $k => $v): ?>
							<li class="product">
								<dl>
									<dt><?php echo $k; ?>：</dt>
									<dd>
										<?php foreach ($v as $k1 => $v1): ?>
											<a <?php if($k1==0) echo 'class="selected"'; ?> href="javascript:;">
												<?php echo $v1['attr_value']; ?> 
												<input <?php if($k1==0) echo 'checked="checked"'; ?> type="radio" name="goods_attr_id[<?php echo $v1['attr_id']; ?>]" value="<?php echo $v1['id']; ?>" />
											</a>
										<?php endforeach; ?>
									</dd>
								</dl>
							</li>
							<?php endforeach; ?>
							<li>
								<dl>
									<dt>购买数量：</dt>
									<dd>
										<a href="javascript:;" id="reduce_num"></a>
										<input type="text" name="goods_number" value="1" class="amount"/>
										<a href="javascript:;" id="add_num"></a>
									</dd>
								</dl>
							</li>

							<li>
								<dl>
									<dt>&nbsp;</dt>
									<dd>
										<input type="submit" value="" class="add_btn" />
									</dd>
								</dl>
							</li>
						</ul>
					</form>
				</div>
				
			</div>
			
			
			<div style="clear:both;"></div>

			
			<div class="detail">
				<div class="detail_hd">
					<ul>
						<li class="first"><span>商品介绍</span></li>
						<li class="on"><span>商品评价</span></li>
						<li><span>售后保障</span></li>
					</ul>
				</div>
				<div class="detail_bd">
					
					<div class="introduce detail_div none">
						<div class="attr mt15">
							<ul>
								<?php foreach ($uniArr as $k => $v): ?>
								<li><span><?php echo $v['attr_name']; ?>：</span><?php echo $v['attr_value']; ?></li>
								<?php endforeach; ?>
							</ul>
						</div>

						<div class="desc mt10"><?php echo $info['goods_desc']; ?></div>
					</div>
					
					
					
					<div class="comment detail_div mt10">
						<div class="comment_summary">
							<div class="rate fl">
								<strong><em class="hao"></em>%</strong> <br />
								<span>好评度</span>
							</div>
							<div class="percent fl">
								<dl>
									<dt>好评（<span class="hao"></span>%）</dt>
									<dd><div id="hao_width"></div></dd>
								</dl>
								<dl>
									<dt>中评（<span class="zhong"></span>%）</dt>
									<dd><div id="zhong_width"></div></dd>
								</dl>
								<dl>
									<dt>差评（<span class="cha"></span>%）</dt>
									<dd><div id="cha_width"></div></dd>
								</dl>
							</div>
							<div class="buyer fl">
								<dl>
									<dt>买家印象：</dt>
								</dl>
							</div>
						</div>

						
						<div id="comment_container"></div>

						
						<div class="page mt20"></div>
						

						
						<div class="comment_form mt20">
							<form id="comment_form">
								<input type="hidden" name="goods_id" value="<?php echo $info['id']; ?>" />
								<ul>
									<li>
										<label for=""> 评分：</label>
										<input type="radio" name="star" value="5" checked="checked" /> <strong class="star star5"></strong>
										<input type="radio" name="star" value="4" /> <strong class="star star4"></strong>
										<input type="radio" name="star" value="3" /> <strong class="star star3"></strong>
										<input type="radio" name="star" value="2" /> <strong class="star star2"></strong>
										<input type="radio" name="star" value="1" /> <strong class="star star1"></strong>
									</li>

									<li>
										<label for="">评价内容：</label>
										<textarea name="content" id="" cols="" rows=""></textarea>
									</li>
									
									<li id="mjyx">
										<label for="">买家印象：</label>
										<input type="text" name="yx_name" size="60" /> 多个印象用,号隔开 
									</li>
									
									<li>
										<label for="">&nbsp;</label>
										<input type="button" value="提交评论" class="comment_btn"/>										
									</li>
								</ul>
							</form>
						</div>
						
						
					</div>
					



				</div>
			</div>
			

			
		</div>
		
		

	</div>
	


<include file="Common/help" />

<style>
.reply_container{margin-top:25px;}		
.reply_container li{min-height:70px;margin:3px;background:#DAF1DA;padding:5px;}	
.reply_container li p{margin-top:10px;}
.reply_container img{float:right;}
</style>

<script>
var viewPath = '<?php echo $viewPath; ?>';

$.ajax({
	type : "GET",
	url : "<?php echo U('Index/displayHistory?id='.$info['id']); ?>",
	dataType : "json",
	success : function(data)
	{
		
		var html = "";
		$(data).each(function(k,v){
			html += '<dl><dt><a href="<?php echo U('goods', '', FALSE); ?>/id/'+v.id+'"><img src="'+viewPath+v.mid_logo+'" /></a></dt><dd><a href="<?php echo U('goods', '', FALSE); ?>/id/'+v.id+'">'+v.goods_name+'</a></dd></dl>';
		});
		
		$("#display_history").html(html);
	}
});


$.ajax({
	type : "GET",
	url : "<?php echo U('ajaxGetMemberPrice?goods_id='.$info['id']); ?>",
	success : function(data)
	{
		$("#member_price").html("￥"+data+"元");
	}
});



$(".comment_btn").click(function(){
	
	var form = $("#comment_form");
	var formData = form.serialize();
	$.ajax({
		type : "POST",
		url : "<?php echo U('Comment/add'); ?>",
		data : formData, 
		dataType : "json",  
		success : function(data)
		{
			if(data.status == 0)
			{
				
				if(data.info == '必须先登录！')
				{
					
					$( "#login_dialog" ).dialog( "open" );
				}
				else
				{
					alert(data.info);
				}
			}
			else
			{
				
				form.trigger("reset"); 
				
				
				var html = '<div class="comment_items mt10 none"><div class="user_pic"><dl><dt><a href=""><img src="'+data.info.face+'" alt="" /></a></dt><dd><a href="">'+data.info.username+'</a></dd></dl></div><div class="item"><div class="title"><span>'+data.info.addtime+'</span><strong class="star star'+data.info.star+'"></strong></div><div class="comment_content">'+data.info.content+'</div><div class="btns"><a href="javascript:void(0);" onclick="do_reply(this,'+data.info.id+');" class="reply">回复(0)</a><a href="" class="useful">有用(0)</a></div><div class="reply_form"></div><ul class="reply_container"></ul></div><div class="cornor"></div></div>';
				
				html = $(html);
				
				$("#comment_container").prepend(html);
				
				$("body").animate({
					"scrollTop" : "750px"
				}, 1000, function(){
					html.fadeIn(2000);
				});
			}
		}
	});
});



var cache = [];  
function getCache(page)
{
	for(var i=0; i<cache.length; i++)
	{
		if(cache[i][0] == page)
			return cache[i];
	}
	return false;
}


function ajaxGetPl(page)
{
	var c = getCache(page);
	if(c !== false)
	{
		$("#comment_container").html(c[1]);
		$('.page').html(c[2]);
		return ;
	}
	$.ajax({
		type : "GET",
		url : "<?php echo U('Comment/ajaxGetPl?goods_id='.$info['id'], '', FALSE); ?>/p/"+page,
		dataType : "json",
		success : function(data)
		{
			is_login = data.memberId;  
			
			if(page == 1)
			{
				
				$(".hao").html(data.hao);
				$("#hao_width").css("width", data.hao+"px");
				
				$(".zhong").html(data.zhong);
				$("#zhong_width").css("width", data.zhong+"px");
				
				$(".cha").html(data.cha);
				$("#cha_width").css("width", data.cha+"px");
				
				
				var yxhtml = "";
				var yxChkHtml = "";  
				$(data.yxData).each(function(k,v){
					yxhtml += '<dd><span>'+v.yx_name+'</span><em>('+v.yx_count+')</em></dd>';
					yxChkHtml += '<input type="checkbox" name="yx_id[]" value="'+v.id+'" /> '+v.yx_name+' ';
				});
				$(".buyer dl").append(yxhtml);
				
				if(yxChkHtml != "")
					$("#mjyx").before('<li><label for="">选择印象：</label>'+yxChkHtml+'</li>');
			}
			
			var html = "";
			
			$(data.data).each(function(k,v){
				
				var hfhtml = "";
				$(v.reply).each(function(k1,v1){
					hfhtml += '<li><img src="'+v1.face+'" width="50" />'+v1.username+' 【'+v1.addtime+'】 回复：<p>'+v1.content+'</p></li>'
				});
				
				html += '<div class="comment_items mt10"><div class="user_pic"><dl><dt><a href=""><img src="'+v.face+'" alt="" /></a></dt><dd><a href="">'+v.username+'</a></dd></dl></div><div class="item"><div class="title"><span>'+v.addtime+'</span><strong class="star star'+v.star+'"></strong></div><div class="comment_content">'+v.content+'</div><div class="btns"><a href="javascript:void(0);" onclick="do_reply(this, '+v.id+');" class="reply">回复('+v.reply_count+')</a><a href="" class="useful">有用('+v.click_count+')</a></div><div class="reply_form"></div><ul class="reply_container">'+hfhtml+'</ul></div><div class="cornor"></div></div>';
				
			});
			
			$("#comment_container").html(html);
			
			
			var pageString = "";
			for(var i=1; i<=data.pageCount; i++)
			{
				if(page == i)
					var cls = 'class="cur"';
				else
					var cls = '';
				pageString += ' <a '+cls+' onclick="ajaxGetPl('+i+');" href="javascript:void(0);">'+i+'</a> ';
			}
			
			$('.page').html(pageString);
			
			
			cache.push([page, html, pageString]);
		}
	});
}

ajaxGetPl(1);

var is_login = 0;  
function do_reply(btn, commentId)
{
	
	var div = $(btn).parent().next("div");
	
	var replyForm = '<br /><hr style="clear:both;margin-top:15px;" /><form><input type="hidden" name="comment_id" value="'+commentId+'" /><textarea name="content" style="width:100%;" rows="6"></textarea><br /><br /><input type="button" onclick="post_reply(this);" value="回复" /> <input onclick="close_reply(this);" type="button" value="取消" /></form>';
	
	div.html(replyForm);
	
	if(is_login <= '0')
	{
		$( "#login_dialog" ).dialog( "open" );
	}
}

function post_reply(btn)
{
	var formData = $(btn).parent().serialize();
	$.ajax({
		type : "POST",
		url : "<?php echo U('Comment/reply'); ?>",
		data : formData,
		dataType : "json",
		success : function(data)
		{
			if(data.status == 1)
			{
				
				var html = '<li><img src="'+data.info.face+'" width="50" />'+data.info.username+' 【'+data.info.addtime+'】 回复：<p>'+data.info.content+'</p></li>';
				$(btn).parent().parent().next("ul").append(html);
				
				$(btn).parent().parent().html('');
			}
			else
			{
				
				if(data.info == '必须先登录！')
				{
					
					$( "#login_dialog" ).dialog( "open" );
				}
				else
				{
					alert(data.info);
				}
			}
		}
	});
}

function close_reply(btn)
{
	var div = $(btn).parent().parent();
	div.html('');
}
</script>



<link href="__PUBLIC__/jquery-ui-1.9.2.custom/css/blitzer/jquery-ui-1.9.2.custom.css" rel="stylesheet">
<script src="__PUBLIC__/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>
<div id="login_dialog" class="none" title="登录表单"> 
				<form id="login_form">
					<ul>
						<li>
							<label for="">用户名：</label>
							<input type="text" class="txt" name="username" />
						</li>
						<li>
							<label for="">密　码：</label>
							<input type="password" class="txt" name="password" />
						</li>
						<li class="checkcode">
							<label for="">验证码：</label>
							<input type="text"  name="chkcode" /><br />
							<img style="cursor:pointer;" onclick="this.src='<?php echo U('Member/chkcode'); ?>#'+Math.random();" src="<?php echo U('Member/chkcode'); ?>" />
						</li>
					</ul>
				</form>
</div>
					<script>
					
					$( "#login_dialog" ).dialog({
						resizable : false,
						position : {at: "center"},
						modal : true,
						autoOpen: false,
						width: 400,
						buttons: [
							{
								text: "登录",
								click: function() {
									
									$.ajax({
										type : "POST",
										url : "<?php echo U('Member/login'); ?>",
										data : $("#login_form").serialize(),
										dataType : "json",
										success : function(data)
										{
											if(data.status == 1)
											{
												is_login = 1;
												$( "#login_dialog" ).dialog( "close" );
											}
											else
												alert(data.info);
										}
									});
								}
							},
							{
								text: "取消",
								click: function() {
									$( this ).dialog( "close" );
								}
							}
						]
					});
</script>
















