<layout name="Common/layout" />

<link rel="stylesheet" href="__PUBLIC__/Home/style/index.css" type="text/css">
<script type="text/javascript" src="__PUBLIC__/Home/js/index1.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/Home/js/jquery-1.4.1.min.js" type="text/javascript"></script>
<link href="__PUBLIC__/Home/style/index-mini-new.css" type="text/css" rel="stylesheet" />
<link href="__PUBLIC__/Home/style/index1.css" type="text/css" rel="stylesheet" />

<style>
.move_div_top {
	display: none;
	right: 85px;
	overflow: hidden;
	width: 32px;
	color: white;
	bottom:-1790px;
	position: absolute;
	height:50px
}
.move_div_top span {
	display: block; text-align: center
}
.move_div_top span a {
	color: #d22b61; text-decoration: none
}
.move_div_top span a:hover {
	color: #d22b61; text-decoration: none
}
</style>
</head>

<body>

<div class="head">
    <div class="left"><a href="<?php echo U('Admin/index/index'); ?>"><img src="__PUBLIC__/Home/images/logo.jpg"/></a></div>
</div><strong></strong>
<div class="dd">
    <li><a style="color:#000" href="<?php echo U('Member/login'); ?>">登录</a>
   <a style="color:#000" href="<?php echo U('Member/regist'); ?>">|注册</a></li>
</div>
	 <span id="box">搜索</span>
  <input class="box"  />

<div id="nav">
    <ul style="background: #83aab9"; class="nav">
   	   <li><a href="<?php echo U('Index/index'); ?>" class="color_in">首页</a></li>
        <li><a href="<?php echo U('Index/Periodical'); ?>">期刊</a></li>
        <li><a href="<?php echo U('Index/Book'); ?>">图书</a></li>
        <li><a href="<?php echo U('Index/About'); ?>">关于我们</a></li>
        <li><a href="<?php echo U('Index/Personal center'); ?>">个人中心</a></li>
    </ul>
</div>

<div class="banner">
    <ul class="banner_pic" id="banner_pic">
        <li class="current"><img class="one" src="__PUBLIC__/Home/images/1.jpg" width="1300" height="530"/></li>
        <li class="pic"><img class="one" src="__PUBLIC__/Home/images/2.jpg" width="1300" height="530"/></li>
	    <li class="pic"><img class="one" src="__PUBLIC__/Home/images/7.jpg" width="1300" height="530"/></li>
        <li class="pic"><img class="one" src="__PUBLIC__/Home/images/5.jpg" width="1300" height="530"/></li>
	 </ul>
	  <ol id="button"
         <li class="current"></li>
 	     <li class="but"></li>
	     <li class="but"></li>
         <li class="but"></li>
	  </ol>

</div>

<div class="col">
	
<div class="title">
    <i class="book"></i>
    <span style="font-size:25px; magin-bottom:20px;">热门推荐</span>
</div><br />
<div class="span">
   <a style="color:#000" href="#"<span class="click">计算机&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a> 
    <a style="color:#000" href="#"><span class="">电子&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">科普&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">通信&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">摄影&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">经济&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">管理&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">金融与投资&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">励志&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">心理学&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">设计&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">音乐&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">电影&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">美妆&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">生活&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">工业&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a style="color:#000" href="#"><span class="">绘画&nbsp;&nbsp;&nbsp;</span></a>
</div>
<div class="nice">
	<a href="#"><img class="cb" src="__PUBLIC__/Home/images/59.jpg" width="200" height="300"/></a>
    <a href="#"><img class="cb" src="__PUBLIC__/Home/images/60.jpg" width="200" height="300"/></a>
    <img class="cb" src="__PUBLIC__/Home/images/61.jpg" width="200" height="300"/>
    <img class="cb" src="__PUBLIC__/Home/images/62.jpg" width="200" height="300"/>
    <br /><br />
    <img class="cb" src="__PUBLIC__/Home/images/63.jpg" width="200" height="300"/>
    <img class="cb" src="__PUBLIC__/Home/images/64.jpg" width="200" height="300"/>
    <img class="cb" src="__PUBLIC__/Home/images/65.jpg" width="200" height="300"/>
    <img class="cb" src="__PUBLIC__/Home/images/66.jpg" width="200" height="300"/>
</div>
</div>

<div class="col">
	
    <div class="title2">
    <i class="book2"></i>
    <span style="font-size:25px;">精品书籍</span>
</div>
<br /><br />
<div class="nice">
	<img class="cb" src="__PUBLIC__/Home/images/9.jpg" width="200" height="300"/>
    <img class="cb" src="__PUBLIC__/Home/images/10.jpg" width="200" height="300"/>
    <img class="cb" src="__PUBLIC__/Home/images/11.jpg" width="200" height="300"/>
    <img class="cb" src="__PUBLIC__/Home/images/12.jpg" width="200" height="300"/>
    <br /><br />
    <img class="cb" src="__PUBLIC__/Home/images/13.jpg" width="200" height="300"/>
    <img class="cb" src="__PUBLIC__/Home/images/14.jpg" width="200" height="300"/>
    <img class="cb" src="__PUBLIC__/Home/images/15.jpg" width="200" height="300"/>
    <img class="cb" src="__PUBLIC__/Home/images/16.jpg" width="200" height="300"/>
</div>
</div>
    <br /><br />
    <div class="move_div_top" id="sun_move_div_top"><span><a href="javascript:scroll(0,0)"><img src="__PUBLIC__/Home/images/top.png" align="返回顶部" /></a></span> </div>
<script language="javascript">

$(function(){
  var obj=$("#sun_move_div_top");
  if(obj) {
	var move_div_obj = $('#sun_move_div_top');
	var move_div_show = 0;
	var move_div_height = parseInt(move_div_obj.css('height'));
	var move_div_bottom = parseInt(move_div_obj.css('bottom'));
	$(window).scroll(
	  function() {
	  var _clientHeight = document.documentElement.clientHeight;
	  var _scrollTop = document.documentElement.scrollTop-100+document.body.scrollTop;
	  if (move_div_show == 0 && _scrollTop > 50) {
		move_div_obj.fadeIn(200);
		move_div_show = 1; }
	  else if (move_div_show == 1 && _scrollTop < 50) {
		move_div_obj.fadeOut(500);
		move_div_show = 0; }
	  if (_scrollTop > 100 && $.browser.msie && $.browser.version.indexOf('6.0') > -1){
		move_div_obj.css('bottom', '');
		move_div_obj.css('top', 
			 (_scrollTop + _clientHeight - move_div_height - move_div_bottom) + 'px'); }
	})	
  }
})	
</script>
	    

<div class="foot">
<div class="list">
 <dl>
   <dt>关于我们</dt>
   <dd>社长寄语</dd>
   <dd>企业简介</dd>
   <dd>组织机构</dd>
   <dd>部门介绍</dd>
 </dl>
 <dl>
   <dt>联系我们</dt>
   <dd>读者服务</dd>
   <dd>营销渠道服务</dd>
   <dd>投稿咨询</dd>
   <dd>教材服务</dd>
   <dd>图书馆服务</dd>
   <dd>经销商园地</dd>
 </dl>
 <dl>
   <dt>联系我们</dt>
   <dd>读者服务</dd>
   <dd>营销渠道服务</dd>
   <dd>投稿咨询</dd>
   <dd>教材服务</dd>
   <dd>图书馆服务</dd>
   <dd>经销商园地</dd>
 </dl>
 <dl>
   <dt>联系我们</dt>
   <dd>读者服务</dd>
   <dd>营销渠道服务</dd>
   <dd>投稿咨询</dd>
   <dd>教材服务</dd>
   <dd>图书馆服务</dd>
   <dd>经销商园地</dd>
 </dl>
  <dl style="margin-left: 50px; margin-right: -220px;">
    <dt style="margin-right: -70px;"><img src="__PUBLIC__/Home/images/32.jpg"  width="100" height="90"></dt>
    <dt style="margin-right: -60px;margin-bottom: -10px;">关注微信</dt>
    <dd style="margin-right: -60px;">获取专属服务特权</dd>
  </dl>
  <dl style="margin-left: 250px;">
    <dt><img src="__PUBLIC__/Home/images/32.jpg"  width="100" height="90"></dt>
    <dt style="margin-bottom: -10px;">关注微店</dt>
    <dd>立即领取30元优惠券</dd>
  </dl>
</div>
</div>
</body>
</html>


