<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>期刊</title>
<link href="__PUBLIC__/Home/style/style2.css" type="text/css" rel="stylesheet" />
</head>

<body>

<div class="head">
    <div class="left"><img src="__PUBLIC__/Home/images/logo.jpg"/></div>
</div>
<div class="dd">
    <li><a style="color:#000" href="<?php echo U('Member/login'); ?>">登录</a>
   <a style="color:#000" href="<?php echo U('Member/regist'); ?>">|注册</a></li>
</div>
	 <span id="box">搜索</span>
  <input class="box"  />

<div id="nav">
    <ul class="nav">
   	   <li><a href="<?php echo U('Index/index'); ?>">首页</a></li>
        <li><a href="<?php echo U('Index/Periodical'); ?>" class="color_in">期刊</a></li>
        <li><a href="<?php echo U('Index/Book'); ?>">图书</a></li>
        <li><a href="<?php echo U('Index/About'); ?>">关于我们</a></li>
        <li><a href="<?php echo U('Index/Personal center'); ?>">个人中心</a></li>
    </ul>
</div>


	<p class="study">学术类<p>
	<section class="box-content box-2">
			<div class="container">
				<div class="row heading">
					 <div class="col-lg-12">
					</div>
				</div>
<ul id="da-thumbs" class="da-thumbs">
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/30.png" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">通信学报</p>

						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/31.jpg" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">网络信息安全</p>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/32.png" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">大数据</p>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/33.jpg" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">通信与信息网络学报</p>
						</li>
						<li>	
							<a href="#">
								<img src="__PUBLIC__/Home/images/36.png" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">物联网学报</p>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/37.png" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">电信科学</p>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/38.jpg" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">电信技术</p>
						</li>
						<li>
                           <a href="#">
								<img src="__PUBLIC__/Home/images/39.jpg" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">智能科学与技术学报</p>
						</li>
						
					</ul>
				</div>
                                                       </div>
			</div>
		</div>
	<p class="study">专业类</p>
	<section class="box-content box-2">
			<div class="container">
				<div class="row heading">
					 <div class="col-lg-12">
					</div>
				</div>
<ul id="da-thumbs" class="da-thumbs">
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/40.png" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">集邮</p>

						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/41.jpg" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">无线电</p>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/42.jpg" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">摩托车</p>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/43.jpg" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">通信世界</p>
						</li>
						<li>	
							<a href="#">
								<img src="__PUBLIC__/Home/images/44.jpg" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">爱上机器人</p>
						</li>
</div>
				
	<p class="study">少儿类</p>
	<section class="box-content box-2">
			<div class="container">
				<div class="row heading">
					 <div class="col-lg-12">
					</div>
				</div>
<ul id="da-thumbs" class="da-thumbs">
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/45.jpg" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">环球探索</p>

						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/46.jpg" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">漫趣</p>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/48.jpg" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">米老鼠</p>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/47.jpg" width="230" height="200"/>
							</a>
							<p style="font-size: 20px; text-align: center;margin-top: 20px;">童趣</p>
						</li>
</div>
				
				

<div class="foot">
<div class="list">
 <dl>
   <dt>关于我们</dt>
   <dd>社长寄语</dd>
   <dd>企业简介</dd>
   <dd>组织机构</dd>
   <dd>部门介绍</dd>
 </dl>
 <dl>
   <dt>联系我们</dt>
   <dd>读者服务</dd>
   <dd>营销渠道服务</dd>
   <dd>投稿咨询</dd>
   <dd>教材服务</dd>
   <dd>图书馆服务</dd>
   <dd>经销商园地</dd>
 </dl>
 <dl>
   <dt>联系我们</dt>
   <dd>读者服务</dd>
   <dd>营销渠道服务</dd>
   <dd>投稿咨询</dd>
   <dd>教材服务</dd>
   <dd>图书馆服务</dd>
   <dd>经销商园地</dd>
 </dl>
 <dl>
   <dt>联系我们</dt>
   <dd>读者服务</dd>
   <dd>营销渠道服务</dd>
   <dd>投稿咨询</dd>
   <dd>教材服务</dd>
   <dd>图书馆服务</dd>
   <dd>经销商园地</dd>
 </dl>
	<dl style="margin-left: 50px; margin-right: -220px;">
		<dt style="margin-right: -70px;"><img src="__PUBLIC__/Home/images/32.jpg"  width="100" height="90"></dt>
		<dt style="margin-right: -60px;margin-bottom: -10px;">关注微信</dt>
		<dd style="margin-right: -60px;">获取专属服务特权</dd>
	</dl>
	<dl style="margin-left: 250px;">
		<dt><img src="__PUBLIC__/Home/images/32.jpg"  width="100" height="90"></dt>
		<dt style="margin-bottom: -10px;">关注微店</dt>
		<dd>立即领取30元优惠券</dd>
	</dl>
</div>
</div>
</body>
</html>
